@using Northwind.Models

@{
    ViewData["Title"] = "Sent";
}

<h1>Email has been sent</h1>
<div>
    An email has been sent to the account on file.  You should recieve a link to reset your password.
</div>

