<div class="jumbotron my-2">
    <h1 class="display-4">Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For exceptional international quisuine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
</div>
<div class="row">
    <div class="col-md rounded m-3 p-3 shadow-sm">
        <h3>Tis the Seasoning!</h3>
        <div class="mb-4">
            Order Today! Save 12.5% on Chef Anton's Italian Seasoning. You don't want to make Chef Anton mad, do you?
        </div>
        <i>Discount expires: 2/25/2019</i><br />
        <a href="#" class="code"><i class="far fa-hand-point-right"></i>Discount Code</a>
    </div>
    <div class="col-md rounded m-3 p-3 shadow-sm">
        <h3>Go Green</h3>
        <div class="mb-4">
            Genen Shouyu goes on sale very rarely. Order now to save 10% off our already low price.
        </div>
        <i>Discount expires: 2/25/2019</i><br />
        <a href="#" class="code" data-code="2222" data-product="Genen Shouyu"><i class="far fa-hand-point-right"></i> Discount Code</a>
    </div>
    <div class="col-md rounded m-3 p-3 shadow-sm">
        <h3>Half Price</h3>
        <div class="mb-4">
            Just because you can't pronounce "Schoggi Schokolade" doesn't mean you shouldn't buy it. Get it now for 50% off!
        </div>
        <i>Discount expires: 2/25/2019</i><br />
        <a href="#" class="code" data-code="5671" data-product="Schoggi Schokolade"><i class="far fa-hand-point-right"></i> Discount Code</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="/js/client.js"></script>
}
